
.design{
    margin: 0;
    height: 80px;
    width: auto;
    display: grid;
    place-items: center;
    margin-left: 1440px;
    margin-top: -75px;
}

.logo{
    width: 70px;
    height: 70px;
    position: relative;
}
.logo img{
    max-width: 100%;
    border-radius: 50%;
}
.logo::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    outline: 3px dashed cyan;
    outline-offset: 3px;
    border-radius: 50%;
    animation: spin 6s linear infinite;
}
@keyframes spin{
    to{
        transform: rotate(360deg);
    }
}