* {
    margin: 0px;
    padding: 0px;
  }
  body {
    font-size: 120%;
    background: #F8F8FF;
  }
  .image{
    height: auto;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(pixabay.jpg);
    position: absolute; 
}
.imagel{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(pixabay.jpg);
    position: absolute; 
}
.login_box{
    color: aliceblue;
    width: 380px;
    height: auto;
    position: relative;
    margin: 6% auto;
    padding: 5px;
    overflow: hidden;
    border-radius: 10px;
    background: rgba(52, 99, 230, 0.144);
    backdrop-filter: blur(5px);
   
}
.forms{
    font-family: 'Courier New', Courier, monospace;
    width: 1506px;
    height: 100px;
    position: relative;
    color: #d3c7cb;
    padding: 5px;
    overflow: hidden;
    border-radius: 10px;
    background: rgba(52, 99, 230, 0.144);
    backdrop-filter: blur(5px);
    font-weight: bolder;
    font-size: 20px;
}
.forms0{
    width: 380px;
    height: auto;
    position: relative;
    margin: 6% auto;
    background: #fff;
    padding: 5px;
    overflow: hidden;
    border-radius: 10px;
    background: rgba(52, 99, 230, 0.144);
    backdrop-filter: blur(5px);
}

  .header {
    width: auto;
    margin: 50px auto 0px;
    color: white;
    text-align: center;
    border-bottom: none;
    border-radius: 10px;
    padding: 20px;
  }
  form, .content {
    width: 30%;
    margin: 0px auto;
    padding: 20px;
    border: 1px solid #B0C4DE;
    background: white;
    border-radius: 0px 0px 10px 10px;
  }
  .input-group {
    margin: 10px 0px 10px 0px;
  }
  .input-group label {
    display: block;
    text-align: left;
    margin: 3px;
  }
  .input-group input {
    height: 30px;
    width: 93%;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
  }
  .error {
    width: 92%; 
    margin: 0px auto; 
    padding: 10px; 
    border: 1px solid #a94442; 
    color: #a94442; 
    background: #f2dede; 
    border-radius: 5px; 
    text-align: left;
  }
  .success {
    color: #3c763d; 
    background: #dff0d8; 
    border: 1px solid #3c763d;
    margin-bottom: 20px;
  }
  .submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to left,#ff105f,#ffad06);
    border: 0;
    outline: 0;
    border-radius: 30px;
    color: rg;
  }
  .link{
      text-decoration: none;
      color: aliceblue;
  }