.navbar {
    overflow: hidden;
    background: rgba(52, 99, 230, 0.144);
    font-weight: bolder;
    border-radius: 10px;
}

  .navbar a {
    float: left;
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
  }

  .active {
    background: rgba(52, 99, 230, 0.144);
    color: white;
    backdrop-filter: blur(5px);
    border-radius: 10px;
  }

  .navbar .icon {
    display: none;
  }

  .dropdown {
    float: left;
    overflow: hidden;
    border-radius: 10px;
  }

  .dropdown .btn {
    font-size: 20px;    
    border: none;
    outline: none;
    color: whitesmoke;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    backdrop-filter: blur(5px);

  }

  .dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
    backdrop-filter: blur(5px);
  }

  .dropdown-menu a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
   
  }

  .navbar a:hover, .dropdown:hover .btn {
    background-color: cyan;
    color: black;
    border-radius: 10px;
  }

  .dropdown-menu a:hover {
    background-color: #cccccc;
    color: black;
  }

  .dropdown:hover .dropdown-menu {
    display: block;
  }

  @media screen and (max-width: 600px) {
  .navbar a { display: none;}
   .dropdown .btn {
      display: none;
    }
    .navbar a.icon {
      float: left;
      display: block;
    }
  }

  @media screen and (max-width: 600px) {
    .navbar.responsive {position: relative;}
    .navbar.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .navbar.responsive a {
      float: none;
      display: block;
      text-align: left;
      
    }
    .navbar.responsive .dropdown {float: none;}
    .navbar.responsive .dropdown-menu {position: relative;}
    .navbar.responsive .dropdown .btn {
      display: block;
      width: 100%;
      text-align: left;
    }
  }